.r-lib/
node_modules/
dist/
build/
out/
.DS_Store
*.log
!desktop/build/
desktop/build/*
!desktop/build/icon.icns
!desktop/build/icon.ico
Examples/2-1bd_xml_extract.xlsx
Examples/aatoCB8-g1_csc_extract.xlsx
Examples/os-cb8-e7-2 2024-11-11_22.41 E7_nitc_extract.xlsx
