export(parse_itc)
export(process_itc)
export(fit_itc)
export(build_plot_data)
export(export_bundle)
export(import_bundle)
export(create_bundle_from_processed)
export(update_bundle_with_fit)
export(validate_itc_bundle)
export(create_itc_figure)
